body {
  margin: 0;
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.footer {
  box-sizing: border-box;
  width: 100%;
  background-color: #f1f1f1;
  color: white;
  text-align: center;
  padding: 10px 16px; /* Adjusted padding values */
  /* Remove position: fixed; */
}

/* Style the header */
.header {
  padding: 10px 16px;
  background: white;
  color: black; /* Adjusted text color */
  font-size: larger;
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

/* The fixed class is added to the header with JS when it reaches its scroll position */
.header.fixed {
  background: black;
  color: white; /* Adjusted text color */
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

/* Page content */
.content {
  padding: 16px;
  max-width: 600px;
  margin-bottom: 50px;
}

/* Center-align the links */
.links {
  text-align: center;
}

/* Style the links and adjust text color */
.links a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease; /* Add transition for smooth color change */
}

/* Style the links when fixed */
.links.fixed a {
  color: white; /* Adjusted text color */
}

p {
  font-size: 16px;
  line-height: 26px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}
