/* Reset some default browser styles */
body {
  margin: 0;
  color: white;
}

.top-container {
  background-color: hsl(0, 0%, 95%);
  padding: 30px;
  text-align: center;
  color: black;
  font-family: sans-serif;
}

.footer {
  box-sizing: border-box;
  width: 100%;
  background-color: #f1f1f1;
  color: black;
  text-align: center;
  padding: 10px 16px; /* Adjusted padding values */
  /* Remove position: fixed; */
}

/* Style the header */
.header {
  padding: 10px 16px;
  background: transparent;
  color: black; /* Adjusted text color */
  font-size: 14px;
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

/* The fixed class is added to the header with JS when it reaches its scroll position */
.header.fixed {
  background: black;
  color: white; /* Adjusted text color */
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

/* Page content */
.content {
  padding: 30px;
  margin-bottom: 50px;
  text-align: center;
  background-color: black;
}

.content .info a {
  text-decoration: none;
  color: #2997ff;
}

.content .info a:hover {
  text-decoration: underline;
}

/* Center-align the links */
.links {
  text-align: center;
}

.links a:hover {
  text-decoration: underline;
}

/* Style the links and adjust text color */
.links a {
  text-decoration: none;
  color: black;
  padding-left: 16px;
  transition: color 0.3s ease; /* Add transition for smooth color change */
}

/* Style the links when fixed */
.links.fixed a {
  color: white; /* Adjusted text color */
}

p {
  font-size: 16px;
  line-height: 26px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.content .welcome {
  font-family: sans-serif;
  text-align: center;
  padding: 50px;
  margin: 20px;
}

.content .myname {
  color: red;
}

.content .quote {
  text-align: center;
  color: grey;
}

.secondary .quote {
  text-align: center;
  color: grey;
}

.secondary {
  background-color: white;
  color: black;
  padding: 15px;
  margin-bottom: 50px;
  font-family: sans-serif;
  text-align: center;
}

.secondary .goals {
  font-family: sans-serif;
  text-align: center;
  padding: 50px;
  margin: 20px;
}

.secondary .portfolio {
  font-family: sans-serif;
  text-align: center;
  padding: 50px;
  margin: 20px;
  flex: left;
}
.secondary-flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  color: black;
  padding: 15px;
  margin-bottom: 50px;
  font-family: sans-serif;
  text-align: center;
  justify-content: space-around;
}

.secondary-flex-container .goals {
  font-family: sans-serif;
  text-align: center;
  padding: 50px;
  margin: 20px;
}

.tertiary {
  background-color: black;
  color: white;
  padding: 30px;
  margin-bottom: 50px;
  font-family: sans-serif;
  text-align: center;
}

.tertiary .customer {
  font-family: sans-serif;
  text-align: center;
  padding: 50px;
  margin: 20px;
}

.tertiary .quote {
  text-align: center;
  color: grey;
}

.social-icons a {
  color: red;
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #0077b5; /* Change color on hover (LinkedIn) */
}
